@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,200&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box; /* adding border and padding doesn't effect the border of it  */
}

body {
  font-family: "monospaced";
  background-color: black;
  color: white;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

#userInputForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  border: none;
  width: 60%;
  outline: none;
  background-color: black;
  color: white;
  caret-color: green; /* Set the color of the caret (cursor) */
  font-family: monospace;
}

input[type="text"]:focus {
  border: none;
}

.container {
  line-height: normal;
}

pre {
  font-size: 12px;
  margin: 0;
}

/* Rainbows */

.rainbow {
  text-decoration: underline;
  font-size: 16px;
  font-family: monospace;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}