@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,200&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box; /* adding border and padding doesn't effect the border of it  */
}

body {
  font-family: "monospaced";
  background-color: black;
  color: white;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

#userInputForm {
  display: flex;
  flex-direction: row;
}

input {
  border: none;
  width: 60%;
  outline: none;
  background-color: black;
  color: white;
  caret-color: green; /* Set the color of the caret (cursor) */
  font-family: monospace;
}

input[type="text"]:focus {
  border: none;
  caret-shape: block;
}

.container {
  line-height: normal;
}

pre {
  font-size: 12px;
  margin: 0;
}
