* {
  box-sizing: border-box; /* adding border and padding doesn't effect the border of it  */
}

body {
  font-family: "monospaced";
  background-color: #414141;
  color: white;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  width: 80%;
}

#userInputForm {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  border: none;
  width: 60%;
  outline: none;
  background-color: #414141;
  color: white;
  caret-color: green; /* Set the color of the caret (cursor) */
  font-family: monospace;
  font-size: 12px;
}

input[type="text"]:focus {
  border: none;
}


.input-message{
  color: #519975;
  font-weight: bold;
}
.container {
  line-height: normal;
  overflow: auto;
}

.whois-class {
  font-size: 12px;
  margin: 0;
  font-family: monospace;
  letter-spacing: -1px;

}

.help-user-animation{
  white-space: wrap;
  animation: typing 2s steps(30, end);
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}


pre {
  font-size: 12px;
  margin: 0;
}

/* Rainbows */

.rainbow {
  text-decoration: underline;
  font-size: 16px;
  font-family: monospace;
}
.rainbow_text_animated {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 2s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}